:root{
  --main-color: #31b2d6;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body{
    font-family: 'Satisfy', cursive;
    background: #000000 url(./images/bgtexture.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    height: 100vh;  
}

.App{
  max-width: 1300px;
  margin: auto;
}

.main-header{
    display: flex;
}

.brand-logo{
    max-width: 300px;
    padding: 10px;
    margin: 10px;
}

.buttons{
    margin-left: auto;
    padding: 50px;
}
.buttons button {
    color: var(--main-color);
    text-align: center;
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    background: none;
    border: 2px solid var(--main-color);
    transition: 0.5s;
}
.buttons button:hover {
    background-color: var(--main-color);
    color: #fff3b0;
}
.buttons button:active{
  box-shadow: inset 0 -1px var(--main-color);
}

.search{
    height: 100px;
}
input[type=text] {
    border: 0;
    background: none;
    border-bottom: 2px solid var(--main-color);
    margin: auto;
    width: 300px;
    border-radius: 0;
    transition: 0.5s;
}input[type=text]:focus {
    color: var(--main-color);
    outline: none;
    border-bottom: 2px solid;
    background: none;
    box-shadow: inset 0 -1px var(--main-color);
}

.displaylayout{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.card{
  cursor: pointer;
  position: relative;
  height: 300px;
  color: white;
  font-family: 'Satisfy', cursive;

}


[class^='imghvr-'],
[class*=' imghvr-'] {
  background-color: var(--main-color);
}


.list-details{
  list-style: none;
}

.footer{
  height: 70px;
  margin-top: 30px;
  text-align: center;
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}
.footer-text {
  padding-top: 20px;
}

@media (max-width: 800px) {
  .displaylayout {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .displaylayout {
    grid-template-columns: 1fr;
  }
}