@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap');

:root{
  --main-color: #374259;
  --text-color: #F2D8D8;
  --text-color2: #5C8984;
  --text-grey: #545B77;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body{
  /* font-family: 'Ruda', sans-serif; */
  font-family: 'Alegreya Sans SC', sans-serif;
    /* font-family: 'Syne', sans-serif; */
    background: #000000 url(./images/bgtexture.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    height: 100vh;  
}

.App{
  max-width: 1300px;
  margin: auto;
}



.brand-logo{
  position: relative;
    left: 50%;
    transform: translate(-50%);
    max-width: 300px;
    padding: 10px;
    margin: 10px;
}

.search{
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  
}
input[type=text] {
  font-size: 2em;
    border: 0;
    background: none;
    border-bottom: 2px solid var(--text-color);
    margin: auto;
    width: 300px;
    border-radius: 0;
    transition: 0.5s;
}input[type=text]:focus {
    color: var(--text-color);
    outline: none;
    border-bottom: 2px solid;
    background: none;
    box-shadow: inset 0 -1px var(--main-color);
}

.displaylayout{
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem; */
}

.card{
  cursor: pointer;
  position: relative;
  width: 30rem;
  height: auto;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  color: white;
   font-family: 'Ruda', sans-serif;
  font-size: 1em;

  @media (max-width: 992px) {
    font-size: 0.8em;
  }
}
/* .card-content {
  background: var(--main-color);
} */


[class^='imghvr-'],
[class*=' imghvr-'] {
  background-color: var(--main-color);
}


.list-details{
  padding-top: 5%;
  list-style: none;
  color: var(--text-color);

  & li {
    padding: 1% 0;
    /* color: var(--text-color2); */

    & strong {
      color: var(--text-color2);
    }
  }
}

.footer{
  height: 70px;
  margin-top: 30px;
  text-align: center;
  color: var(--text-color);
  border-top: 2px solid var(--text-color);
}
.footer-text {
  padding-top: 20px;
}

@media (max-width: 800px) {
  .displaylayout {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .displaylayout {
    grid-template-columns: 1fr;
  }
}